@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'app/shared/styles/tokens';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: $font-family;
  font-size: $font-body-size;
  color: $gray-900;
  background: $white;
}

button {
  font-family: $font-family;
  cursor: pointer;
  border: none;
  background: none;
}

input, select, textarea {
  font-family: $font-family;
  font-size: $font-body-size;
}

a {
  text-decoration: none;
  color: inherit;
}

